{% extends 'parent' %}

{% block main %}
  <div class="text">
    <h2>{{ page.title }}</h2>
    {% editable_long_text 'text' %}
    <p>Una Marca Pa&iacute;s es...</p>
    {% endeditable_long_text %}
  </div>
{% endblock %}
